NODE_ENV=production
PORT=3001
MONGODB_URI=mongodb://Fullbright:alhamer1@ac-ung0dxw-shard-00-00.d5w3hon.mongodb.net:27017,ac-ung0dxw-shard-00-01.d5w3hon.mongodb.net:27017,ac-ung0dxw-shard-00-02.d5w3hon.mongodb.net:27017/teacher_eval?ssl=true&replicaSet=atlas-3lweps-shard-0&authSource=admin&appName=Cluster0
SESSION_SECRET=teacher-eval-dev-secret-key-2026
JWT_SECRET=teacher-eval-jwt-secret-key-2026
CORS_ORIGINS=https://fullbright-college-1.onrender.com,https://admin-teacher-eval.vercel.app,https://teacher-eval.vercel.app,http://localhost:3000,http://localhost:3001,http://localhost:3002,http://localhost:5173,http://localhost:5174

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dysoy4ar5
CLOUDINARY_API_KEY=552166215479492
CLOUDINARY_API_SECRET=WWf5a6sG3NeKUGdpZy9VP6p368Y
